<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<style>
    .image-thumbnail{
        height: 200px;
        object-fit: cover;
    }
</style>
<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card me-3" style="width: 18rem;">
                    <div class="card-header">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}" class="text-dark" style="text-decoration: none;">All</a>
                        </li>
                        {% for category in categories %}
                            <li class="list-group-item" style="text-decoration: none;">
                                <a href="{% url 'gallery' %}?category={{category.name}}" class="text-dark" style="text-decoration: none;">
                                    {{category}}
                                </a>
                            </li>
                        {% endfor %}
                        
                        <li class="list-group-item">
                            <a href="{% url 'add' %}" class="btn btn-success m-1">Add photo <i class="bi bi-plus-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img src="{{photo.image.url}}" class="image-thumbnail" alt="image">
                            <div class="card-body">
                                <p>Category: <span class="text-success">{{photo.category.name}}</span></p>
                                <a href="{% url 'photo' photo.id %}" class="btn btn-success">View</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col justify-content-center">
                        <h3>You have no photos...</h3>
                        <p>Add now </p>
                        <a href="{% url 'add' %}" class="btn btn-success">Add <i class="bi bi-plus-lg ms-1"></i></a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</body>
</html>