<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<style>
    .image-thumbnail{
        height: 200px;
        object-fit: cover;
    }
</style>
<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card me-3" style="width: 18rem;">
                    <div class="card-header">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">
                            <a href="{% url 'add' %}" class="btn btn-success m-1">Add photo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Domestic_Goose.jpg/1200px-Domestic_Goose.jpg" 
                            class="image-thumbnail" alt="image">
                            <div class="card-body">
                                <p>Category: Pets</p>
                                <a href="{% url 'photo' 5%}" class="btn btn-success">View</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>